# -------------------------------------
# | CONFIGURACIÓN DE LA BASE DE DATOS |
# -------------------------------------

# PARÁMETROS DE LA BASE DE DATOS
DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=cardenal_go
DB_USERNAME=user_cardenal_go
DB_PASSWORD=password_cardenal_go

# URL DE CONEXIÓN PARA Flask Y FastAPI
DATABASE_URL=postgresql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}

# CONFIGURACIÓN DE SEGURIDAD PARA FastAPI
MASTER_USER=user_cardenal_go
MASTER_PASSWORD=password_cardenal_go

# MODO DE EJECUCIÓN DE PYTHON
FASTAPI_ENV=development
FLASK_DEBUG=True


# ---------------------------------------------
# | CLAVES SECRETAS DE LA API, JWT Y FRONTEND |
# ---------------------------------------------

API_URL=http://backend:8000
API_KEY=DNEAISTLZLERI,ZTODAIEESLLIA
JWT_SECRET_KEY=TEOTEUIUGRLILFTABSMH
FRONTEND_SECRET_KEY=IAEVRENNYNIEIEFLRTEMIESEEVH
SUPERADMIN_PASSWORD=The_GOAT_TP98